:root{
    --primary: #111b54;
    --light: #ffffff;
    --grey: #efefef;
}

body{
    overflow: hidden;
    font-family: sans-serif;
    font-weight: 300;
    color: var(--primary);   
}
#sidebar-container{
    min-height: 100vh; 
    
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.bg-primary{background-color: var(--primary) !important;}
.bg-light{background-color: var(--light) !important;}
.bg-mix{background: linear-gradient(180deg, var(--light)50%, var(--grey)0)}
.bg-grey{background-color: var(--grey) !important;}
btn.primary{
    background-color: var(--primary);

}
.btn{border:0}
.btn-primary{
background-color: var(--primary);
}
.btn-primary:hover{background-color: var(--primary);}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}

#sidebar-container .menu{
    width: 18rem;
}
.btn-search{right: 0;}

#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}
.stat{
    border-right: 1px solid var(--grey)
}
.badge{
    background-color: green;
}
@media (max-width: 768px){
    #sidebar-container{
        display:none;
    }
} 